<!DOCTYPE html>
<html lang="ko">
  <%- include('head') -%>
  <body>
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!-- .site-mobile-menu -->

      <div class="site-navbar-wrap js-site-navbar bg-white">
        <div class="container">
          <div class="site-navbar bg-light">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo">
                  <a href="index.html" class="font-weight-bold text-uppercase">우리집에왜왔니</a>
                </h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                      <a
                        href="#"
                        class="site-menu-toggle js-menu-toggle text-black"
                        ><span class="icon-menu h3"></span
                      ></a>
                    </div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li class="active"><a href="index.html">Home</a></li>
                      <li class="has-children">
                        <a href="about.html">About</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="testimonials.html">Testimonials</a></li>
                          <li><a href="gallery.html">Gallery</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li>
                            <a href="why-choose-us.html">Why Choose Us</a>
                          </li>
                          <li class="has-children">
                            <a href="#">Sub Menus</a>
                            <ul class="dropdown">
                              <li>
                                <a href="testimonials.html">Testimonials</a>
                              </li>
                              <li><a href="gallery.html">Gallery</a></li>
                              <li>
                                <a href="why-choose-us.html">Why Choose Us</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li>
                        <!-- <a id="kakao-login-btn"></a> -->
                        <a href="/kakao/login">
                          <img
                            src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
                          />
                        </a>
                        <a href="http://developers.kakao.com/logout"></a>
                        <!-- <a href="contact.html" ><span
                            class="d-inline-block bg-primary text-white btn btn-primary"
                            >Get Started</span
                          ></a
                        > -->
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide-one-item home-slider owl-carousel">
        <div
          class="site-blocks-cover inner-page overlay"
          style="background-image: url(images/hero_2.jpg);"
          data-aos="fade"
          data-stellar-background-ratio="0.5"
        >
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-6 text-center" data-aos="fade">
                <h1 class="font-secondary  font-weight-bold text-uppercase">
                  Welcome to Colorlib
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div
          class="site-blocks-cover inner-page overlay"
          style="background-image: url(images/hero_1.jpg);"
          data-aos="fade"
          data-stellar-background-ratio="0.5"
        >
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 text-center" data-aos="fade">
                <h1 class="font-secondary font-weight-bold text-uppercase">
                  Free Bootstrap 4 Templates
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slant-1"></div>

      <div class="site-section first-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12 text-center" data-aos="fade">
              <span class="caption d-block mb-2 font-secondary font-weight-bold"
                >Outstanding Services</span
              >
              <h2
                class="site-section-heading text-uppercase text-center font-secondary"
              >
                Love Us Colorlib
              </h2>
            </div>
          </div>
          <div class="row border-responsive">
            <div
              class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right"
              data-aos="fade-up"
              data-aos-delay=""
            >
              <div class="text-center">
                <span
                  class="flaticon-money-bag-with-dollar-symbol display-4 d-block mb-3 text-primary"
                ></span>
                <h3 class="text-uppercase h4 mb-3">Increase Revenue</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eaque, nobis?
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="text-center">
                <span
                  class="flaticon-bar-chart display-4 d-block mb-3 text-primary"
                ></span>
                <h3 class="text-uppercase h4 mb-3">Analytics</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eaque, nobis?
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="text-center">
                <span
                  class="flaticon-medal display-4 d-block mb-3 text-primary"
                ></span>
                <h3 class="text-uppercase h4 mb-3">3 Years Experience</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eaque, nobis?
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-3 mb-4 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="text-center">
                <span
                  class="flaticon-box display-4 d-block mb-3 text-primary"
                ></span>
                <h3 class="text-uppercase h4 mb-3">Free Package</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eaque, nobis?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-half">
        <div
          class="img-bg-1"
          style="background-image: url('images/img_4.jpg');"
          data-aos="fade"
        ></div>
        <div class="container">
          <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 ml-lg-auto py-5">
              <span class="caption d-block mb-2 font-secondary font-weight-bold"
                >Outstanding Services</span
              >
              <h2
                class="site-section-heading text-uppercase font-secondary mb-5"
              >
                Clean Design
              </h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus aliquid eius facilis voluptatem eligendi magnam
                accusamus vel commodi asperiores sint rem reprehenderit nobis
                nesciunt veniam qui fugit doloremque numquam quod.
              </p>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur tempora distinctio ipsam nesciunt recusandae
                repellendus asperiores amet.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="site-half block">
        <div
          class="img-bg-1 right"
          style="background-image: url('images/img_5.jpg');"
          data-aos="fade"
        ></div>
        <div class="container">
          <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5">
              <span class="caption d-block mb-2 font-secondary font-weight-bold"
                >Easy To Use Templates</span
              >
              <h2
                class="site-section-heading text-uppercase font-secondary mb-5"
              >
                Free HTML5 Templates
              </h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus aliquid eius facilis voluptatem eligendi magnam
                accusamus vel commodi asperiores sint rem reprehenderit nobis
                nesciunt veniam qui fugit doloremque numquam quod.
              </p>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur tempora distinctio ipsam nesciunt recusandae
                repellendus asperiores amet.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section ">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="caption d-block mb-2 font-secondary font-weight-bold"
                >Products &amp; Services</span
              >
              <h2
                class="site-section-heading text-uppercase text-center font-secondary"
              >
                Share Before You Download
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 block-13 nav-direction-white">
              <div class="nonloop-block-13 owl-carousel">
                <div class="media-image">
                  <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">Pixel Perfect</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
                <div class="media-image">
                  <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">
                      Template Under CCA 3.0 Unported
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
                <div class="media-image">
                  <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">
                      Useful Web Templates
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
                <div class="media-image">
                  <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">HTML5 / CSS3</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
                <div class="media-image">
                  <img src="images/img_4.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">Bootstrap 4</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
                <div class="media-image">
                  <img src="images/img_5.jpg" alt="Image" class="img-fluid" />
                  <div class="media-image-body">
                    <h2 class="font-secondary text-uppercase">SCSS</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Fuga, voluptate.
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary text-white px-4"
                        >Learn More</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section section-counter">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p class="mb-5">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
              </p>
            </div>
            <div class="col-lg-5 ml-auto">
              <h2
                class="site-section-heading mb-3 font-secondary text-uppercase"
              >
                Free Templates By Colorlib
              </h2>
              <p class="mb-5">
                Ullam ut modi cum voluptatibus atque nulla quidem maxime enim
                animi cupiditate, mollitia.
              </p>

              <div class="row">
                <div class="col-lg-6">
                  <div class="counter">
                    <span class="caption">Current Downloads</span>
                    <span class="number" data-number="49020">0</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="counter">
                    <span class="caption">Number of Templates</span>
                    <span class="number" data-number="275">0</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section block-14 nav-direction-white">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="site-section-heading text-center text-uppercase">
                Testimonials
              </h2>
            </div>
          </div>

          <div class="nonloop-block-14 owl-carousel">
            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img
                  src="images/person_1.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mx-auto"
                />
              </div>
              <div>
                <h2 class="h5 mb-4">Katie Johnson</h2>
                <blockquote>
                  &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Alias accusantium qui optio, possimus necessitatibus
                  voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                </blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img
                  src="images/person_2.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mx-auto"
                />
              </div>
              <div>
                <h2 class="h5 mb-4">Jun Mars</h2>
                <blockquote>
                  &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Alias accusantium qui optio, possimus necessitatibus
                  voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                </blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img
                  src="images/person_3.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mx-auto"
                />
              </div>
              <div>
                <h2 class="h5 mb-4">Shane Holmes</h2>
                <blockquote>
                  &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Alias accusantium qui optio, possimus necessitatibus
                  voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                </blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img
                  src="images/person_4.jpg"
                  alt="Image"
                  class="img-fluid rounded-circle w-25 mx-auto"
                />
              </div>
              <div>
                <h2 class="h5 mb-4">Mark Johnson</h2>
                <blockquote>
                  &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Alias accusantium qui optio, possimus necessitatibus
                  voluptate aliquam velit nostrum tempora ipsam!&rdquo;
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-12" data-aos="fade">
              <h2 class="site-section-heading text-center text-uppercase">
                Recent Blog Posts
              </h2>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-6 col-lg-4 mb-5"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="media-image">
                <a href="single.html"
                  ><img src="images/img_1.jpg" alt="Image" class="img-fluid"
                /></a>
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">
                    <a href="single.html"
                      >Where Do You Learn HTML & CSS in 2019?</a
                    >
                  </h2>
                  <span class="d-block mb-3"
                    >By James &mdash; Jan. 20, 2019</span
                  >
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fuga, voluptate.
                  </p>
                  <p><a href="#">Read More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-5"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="media-image">
                <a href="single.html"
                  ><img src="images/img_2.jpg" alt="Image" class="img-fluid"
                /></a>
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">
                    <a href="single.html"
                      >Where Do You Learn HTML & CSS in 2019?</a
                    >
                  </h2>
                  <span class="d-block mb-3"
                    >By James &mdash; Jan. 20, 2019</span
                  >
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fuga, voluptate.
                  </p>
                  <p><a href="#">Read More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-5"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="media-image">
                <a href="single.html"
                  ><img src="images/img_3.jpg" alt="Image" class="img-fluid"
                /></a>
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">
                    <a href="single.html"
                      >Where Do You Learn HTML & CSS in 2019?</a
                    >
                  </h2>
                  <span class="d-block mb-3"
                    >By James &mdash; Jan. 20, 2019</span
                  >
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fuga, voluptate.
                  </p>
                  <p><a href="#">Read More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-5 bg-primary">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center mb-3 mb-md-0">
              <h2 class="text-uppercase text-white mb-4" data-aos="fade-up">
                Try For Your Next Project
              </h2>
              <a
                href="#"
                class="btn btn-bg-primary font-secondary text-uppercase"
                data-aos="fade-up"
                data-aos-delay="100"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
      <%- include('footer') -%>

  </body>

</html>
