<!DOCTYPE html>
<html lang="ko">
  <%- include('header') -%>
  <body>

    <div class="site-wrap">

      <div id="termsArticle" class="container">
        <div class="term-tab">
          <ul class="list-tab">
            <li >우리집에왜왔니 개인정보처리방침</li>
          </ul>
        </div>
        <div class="wrap-menu">
          <ul class="list-menu">
            <li><a href="#tab1" class="link-menu">1.개인정보 처리방침</a></li>
            <li><a href="#tab2" class="link-menu">2.개인정보 수집</a></li>
          </ul>
          <ul class="list-menu">
              <li><a href="#tab3" class="link-menu">3.개인정보 이용</a></li>
              <li><a href="#tab4" class="link-menu">4.개인정보 제공</a></li>
          </ul>
          <ul class="list-menu">
              <li><a href="#tab5" class="link-menu">5.개인정보 파기</a></li>
              <li><a href="#tab6" class="link-menu">6.기타</a></li>
          </ul>
        </div>
        <div class="term-wrap policy-wrap">
          <h4 id="tab1" class="policy-title">1. 개인정보 처리방침</h4>
          <p class="policy-desc">
              우리집에왜왔니(이하"회사")는 이용자의 ‘동의를 기반으로 개인정보를 수집·이용 및 제공’하고 있으며, ‘이용자의 권리 (개인정보 자기결정권)를 적극적으로 보장’합니다.
              회사는 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.
              “개인정보처리방침”이란 이용자의 소중한 개인정보를 보호함으로써 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미합니다.              
          </p>
          <h4 id="tab2" class="policy-title">2. 개인정보 수집</h4>
          <strong class="subject-title">서비스 제공을 위한 필요 최소한의 개인정보를 수집하고 있습니다.</strong>
            <em class="emph-group">[필수]</em>
            <p class="desc-group">이메일, 비밀번호, 이름(닉네임), 프로필사진, 연락처</p>

          <h4 id="tab3" class="policy-title">3. 개인정보 이용</h4>
          <strong class="subject-title">회원관리, 서비스 제공·개선, 신규 서비스 개발 등을 위해 이용합니다.</strong>
          <ul class="list-2depth">
            <li>• 회원 식별/가입의사 확인, 본인/연령 확인, 부정이용 방지</li>
            <li>• 친구에게 활동내역을 알리거나 이용자 검색, 등록 등의 기능 제공</li>
            <li>• 신규 서비스 개발, 다양한 서비스 제공, 문의사항 또는 불만처리, 공지사항 전달 </li>
            <li>• 서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 행위 등 포함)에 대한 방지 및 제재</li>
            <li>•	서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계, 프라이버시 보호 측면의 서비스 환경 구축, 서비스 개선에 활용</li>
          </ul>

          <h4 id="tab4" class="policy-title">4. 개인정보 제공</h4>
          <strong class="subject-title">회사는 이용자의 별도 동의가 있는 경우나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.</strong>

          <h4 id="tab5" class="policy-title">5. 개인정보 파기</h4>
          <strong class="subject-title">개인정보는 수집 및 이용목적이 달성되면 지체없이 파기하며, 절차 및 방법은 아래와 같습니다.</strong>
          <p class="policy-desc">
              전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.
          </p>
          
          <h4 id="tab6" class="policy-title">6. 기타</h4>
          <strong class="subject-title">웹기반 서비스의 제공을 위하여 쿠키를 이용하는 경우가 있습니다.</strong>
          <p class="policy-desc">
              쿠키는 보다 빠르고 편리한 웹사이트 사용을 지원하고 맞춤형 서비스를 제공하기 위해 사용됩니다.
          </p>
          <strong class="term-title">쿠키란?</strong>
          <p class="policy-desc">웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자 컴퓨터에 저장됩니다.</p>
          <strong class="term-title">사용목적</strong>
          <p class="policy-desc">개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 쿠키를 사용합니다. 이용자가 웹사이트에 방문할 경우 웹 사이트 서버는 이용자의 디바이스에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하게 됩니다. 쿠키는 이용자가 웹 사이트를 방문할 때, 웹 사이트 사용을 설정한대로 접속하고 편리하게 사용할 수 있도록 돕습니다. 또한, 이용자의 웹사이트 방문 기록, 이용 형태를 통해서 최적화된 광고 등 맞춤형 정보를 제공하기 위해 활용됩니다.</p>
          <strong class="term-title">쿠키 수집 거부</strong>
          <p class="policy-desc">쿠키에는 이름, 전화번호 등 개인을 식별하는 정보를 저장하지 않으며, 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며, 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.</p>
          <strong class="term-title">설정 방법의 예</strong>
          <ul class="list-2depth-type1">
            <li>
              <em class="emph-g2">1) Internet Explorer의 경우</em>
              <p>웹 브라우저 상단의 도구 메뉴 > 인터넷 옵션 > 개인정보 > 설정</p>
            </li>
            <li>
              <em class="emph-g2">2) Chrome의 경우</em>
              <p>웹 브라우저 우측의 설정 메뉴 > 화면 하단의 고급 설정 표시 > 개인정보의 콘텐츠 설정 버튼 > 쿠키</p>
            </li>
          </ul>

          <strong class="subject-title">개인정보보호와 관련해서 궁금하신 사항은?</strong>
          <p class="policy-desc">서비스를 이용하면서 발생하는 모든 개인정보보호 관련 문의, 불만, 조언이나 기타 사항은 개인정보 보호책임자 및 담당부서로 연락해 주시기 바랍니다. </p> 
          
          <strong class="term-title">개인정보보호 책임자</strong>
          <ul class="list-2depth">
            <li>• 책임자: 유정현</li>
            <li>• 문의: yoojh9@gmail.com</li>
          </ul>
          <p class="policy-desc">또한 개인정보가 침해되어 신고나 상담이 필요하신 경우 아래 기관의 도움을 받으시기 바랍니다.</p> 
          <div class="terms-list">
            <div class="bundle-terms">
              <strong class="term-title">개인정보침해 신고센터</strong>
              <ul class="list-2depth">
                  <li>• (국번없이)118</li>
                  <li>•	https://privacy.kisa.or.kr</li>
              </ul>
            </div>
            <div class="bundle-terms">
              <strong class="term-title">대검찰청 사이버수사과</strong>
              <ul class="list-2depth">
                  <li>• (국번없이)1301</li>
                  <li>•	cid@spo.go.kr</li>
              </ul>
            </div>
            <div class="bundle-terms">
              <strong class="term-title">경찰청 사이버안전국</strong>
              <ul class="list-2depth">
                  <li>• (국번없이)182</li>
                  <li>•	https://cyberbureau.police.go.kr</li>
              </ul>
            </div>        
          </div>
          <strong class="subject-title">개인정보처리방침이 변경되는 경우</strong>
          <p class="policy-desc">법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보처리방침을 수정할 수 있습니다. 개인정보처리방침이 변경되는 경우 회사는 변경 사항을 게시하며, 변경된 개인정보처리방침은 게시한 날로부터 7일 후부터 효력이 발생합니다.  
              다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다.
          </p> 
          <ul class="list-2depth">
            <li>•	공고일자: 2020년 03월 02일</li>
            <li>•	시행일자: 2020년 03월 02일</li>
          </ul>
        </div>


        </div>
      </div>
    </div>
  </body>
</html>