<!DOCTYPE html>
<html lang="ko">
  <%- include('header') -%>
  <body>

    <div class="site-wrap">
    <%- include('menu') -%>
      <div id="termsArticle" class="container">
        <div class="term-tab">
          <ul class="list-tab">
            <li >이용약관</li>
          </ul>
        </div>
        <div class="term-wrap policy-wrap">
          <h4 class="policy-title">제 1장 환영합니다</h4>

        </div>
      </div>
    <%- include('footer') -%>
    </div>
  </body>
</html>